{% extends 'base.html' %}

{% block title %}
<title>Наші няньки</title>
{% endblock title %}

{% block content %}

<div class="container min-vh-100 pb-5">
    <h1 class="text-center my-4">Оберіть няньку</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
        {% for petsitter in petsitters %}
        <div class="col">
            <div class="card h-100" style="">
                <img src="{{ url_for('static', filename='img/petsitters/'+ petsitter[3]) }}" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{petsitter[1]}} {{petsitter[2]}}</h5>
                    <p class="card-text">Вік: {{petsitter[4]}} р.</p>
                    <p class="card-text">Місто: {{petsitter[5]}} </p>
                    <form action="" method="post">
                        <input class="d-none" name="petsitter_id" type="text" value="{{petsitter[0]}}">
                        <button type="submit" href="#" class="btn btn-primary">Обрати</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}