{% extends 'base.html' %}

{% block title %}
<title>{{room[1]}}</title>
{% endblock title %}

{% block content %}

<div class="container min-vh-100 pb-5">
    <h1 class="text-center my-4">{{room[1]}}</h1>
    <div class="card h-100" style="">
        <img src="{{ url_for('static', filename='img/rooms/'+ room[3]) }}" class="card-img-top" alt="...">
        <div class="card-body">
            <span>Адреса:</span>
            <h5 class="card-title">{{room[4]}}, {{room[5]}}</h5>
            <span>Опис:</span>
            <p>{{room[6]}}</p>
            <span>Вартість:</span>
            <h3 class="card-text">{{room[2]}} грн</h3>
            <a href="#" class="btn btn-primary">Забронювати</a>
        </div>
    </div>

    {% endblock content %}